.btn-submit {
    &::after {
        box-shadow: inset 0 0 0 1px $red;
    }

    &::before {
        background: $red;
        box-shadow: inset 0 0 0 $icon-size $background;
    }

    &:hover::before {
        box-shadow: inset 0 0 0 1px $background;
    }
}
