@charset "utf-8";

/* CSS Document */

* {
    font-family: 'Comfortaa', cursive;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url('https://mdbootstrap.com/img/Photos/Others/architecture.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

html,
body,
header,
.view {
    height: 100%;
}

.card-1 {
    width: 100%;
    margin-top: 30px;
    padding: 20px;
    color: black;
    background-color: rgba(210, 209, 214, 0.548);
}

.rgba-gradient {
    background: -moz-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
    background: -webkit-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
    background: -webkit-gradient(linear, 45deg, from(rgba(42, 27, 161, 0.7)), to(rgba(29, 210, 177, 0.7)));
    background: -o-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
    background: linear-gradient(to 45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
}

.title {
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.btn {
    margin-top: 10px;
}
