@charset "utf-8";

/* CSS Document */

* {
    font-family: 'Lato', sans-serif;
    margin: 0px;
    padding: 0px;
}

aside#detail {
    width: 1200px;
}

.detail-image {
    width: 600px;
}

.detail-right {
    width: 500px;
    float: right;
    margin-top: -400px;
}

.detail-name {
    color: black;
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 10px;
}

.detail-price {
    color: #e2232e;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 60px;
}

.detail-content {
    margin-top: 50px;
}