@charset "utf-8";

/* CSS Document */

* {
    font-family: 'Lato', sans-serif;
    margin: 0px;
    padding: 0px;
}

header {
    background-color: #eeeeee;
    width: 100%;
    margin: 0px auto;
    height: 145px;
}

#logo {
    float: left;
    height: 145px;
    display: flex;
    align-items: center;
}

    #logo img {
        width: 372px;
        margin-left: 165px;
    }

#dn {
    float: right;
    margin-right: 160px;
    margin-top: 20px;
}

    #dn a {
        font-size: 13px;
        padding: 5px;
        text-decoration: none;
        color: #e2232e;
        font-size: 16px;
        margin-right: 10px;
        font-weight: 600;
    }

header #dn a:hover {
    color: black;
    cursor: pointer;
}

.btn-sell {
    margin-top: 60px;
    float: right;
}

    .btn-sell button {
        height: 54px;
        width: 241px;
        margin-right: -215px;
        border: none;
        background-color: black;
    }

    .btn-sell button {
        color: #ffffff;
        text-decoration: none;
        font-weight: bold;
    }

.icon {
    margin-right: 10px;
    color: #e2232e;
}

.btn-sell button:hover {
    background-color: #e2232e;
    cursor: pointer;
    color: white;
    cursor: pointer;
    text-decoration-color: white;
}

nav {
    clear: both;
    background-color: rgb(255, 255, 255);
    height: 73px;
    width: 100%;
    margin: 0;
    padding: 0;
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

    nav #subnav {
        width: 1200px;
        max-height: 73px;
        margin: 0px 110px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        /* justify-items: center; */
        /* padding-left: 15px;
	padding-right: 15px; */
        overflow: hidden;
    }

        nav #subnav ul {
            float: left;
            list-style: none;
            padding: 0;
            margin-left: 50px;
            /* margin-top: -10px; */
        }

            nav #subnav ul li {
                float: left;
                padding: 73px 0px;
                text-align: center;
                box-sizing: border-box;
                background-color: white;
                /* background-color: #9e783a; */
                /* border: 0px 1px solid #e2232e; */
            }

                nav #subnav ul li a,
                nav #subnav ul li .dropbtn {
                    display: inline-block;
                    color: black;
                    font-size: 16px;
                    font-family: Arial, Helvetica, sans-serif;
                    text-decoration: none;
                    font-weight: bold;
                    padding: 10px 35px;
                    border-left: 1px solid rgb(177, 170, 170);
                    /* border-right: 1px solid #e2232e; */
                    border-bottom: 3px solid transparent;
                    height: 73px;
                    display: flex;
                    align-items: center;
                }

    nav > #subnav > ul > li > a:hover,
    nav > #subnav > ul > li > a:active,
    nav > #subnav > ul > li > a:active
    /*, nav #subnav ul li .dropdown:hover nav>#subnav>ul>li>.dropbtn*/ {
        background-color: #eeeeee;
        color: #e2232e;
        border-bottom: solid black;
    }

    nav > #subnav > ul > li > a::after {
        display: block;
        content: '';
        border-bottom: solid 3px black;
        transform: scaleX(0);
        transition: transform 250ms ease-in-out;
    }

    nav > #subnav > ul > li > a:hover::after {
        transform-origin: 0% 50%;
        cursor: pointer;
    }

    nav #subnav ul li .dropdown {
        display: inline-block;
    }

    nav #subnav ul li .dropdown-content {
        display: none;
        position: absolute;
        background-color: #eeeeee;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

        nav #subnav ul li .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            text-align: left;
        }

    nav #subnav ul li .dropdown .dropdown-content a:hover {
        background-color: #db7093;
        color: white;
        cursor: pointer;
    }

.dropdown:hover .dropdown-content {
    display: block;
    cursor: pointer;
}

#subnav .active {
    background-color: #eeeeee;
}

    #subnav .active a {
        color: #e2232e
    }

div#body {
    margin-top: 30px;
    margin-left: 160px;
    margin-right: 160px;
    width: 1200px;
    /* margin:0px auto; */
    background-color: white;
    /* box-shadow:0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

article {
    display: table-row;
}

aside#left,
section {
    display: table-cell;
    vertical-align: top;
}

aside#left {
    max-width: 170px;
}

section {
    width: 970px;
    padding: 0px 8px;
    position: absolute;
    margin-left: 23px;
}


/* aside#right{
	width:200px;
} */


/*Khung, bo goc cho khoi div*/

aside#left > div {
    color: white;
    border: transparent;
    margin-bottom: 10px;
    padding: 20px 10px 25px;
}

.box-select {
    max-height: 553px;
    /* max-height: 550px; */
    background-color: #e2232e;
}

form .box-select {
    width: 513px;
    height: 150px;
}

.box-select .form-label {
    font-weight: 600;
    font-size: 14px;
    height: 21px;
    width: 150px;
}

.box-select .form-input {
    margin-top: 8px;
    margin-bottom: 15px;
    width: 150px;
    height: 35px;
    border: none;
    /* position: absolute !important; */
    cursor: pointer;
}

select:focus {
    outline: none !important;
}

.form-input {
    font-size: 13px;
    white-space: pre;
    color: #777777;
}

.btn-submit {
    background-color: black;
    color: white;
    margin-top: 5px;
    height: 54px;
    width: 150px;
    border: none !important;
    font-weight: 600;
    font-size: 14px;
}

    .btn-submit[type=submit] {
        outline: none !important;
    }

    .btn-submit:hover,
    .btn-submit:active {
        background-color: #eeeeee;
        color: #e2232e;
        cursor: pointer;
    }

.banner-left-1 {
    margin-left: -10px;
    margin-top: -5px;
}

.banner-left-1-image {
    width: 163px;
    height: 280px;
}

.banner-left-1-box {
    width: 170px;
    height: 255px;
    background-color: black;
}

.banner-left-1-title {
    width: 150px;
    line-height: 1.4;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    font-weight: 900;
    padding: 10px 10px 10px;
}

    .banner-left-1-title a {
        text-decoration: none;
        color: #ffffff;
    }

        .banner-left-1-title a:hover {
            color: #e2232e;
            cursor: pointer;
        }

.banner-left-1-text {
    color: #888888;
    width: 150px;
    padding: 10px 10px 0;
    font-size: 13px;
    line-height: 1.4;
}

.banner-left-2 {
    margin-left: -10px;
    margin-top: -30px;
}


/* .banner-left-2-image{

} */

.banner-left-2-box {
    background-color: #e2232e;
    height: 215px;
    width: 170px;
    margin-top: -4px;
    color: #ffffff;
}

.banner-left-2-title {
    width: 150px;
    font-size: 26px;
    padding: 25px 10px 10px;
    line-height: 1;
    font-weight: 900;
    text-transform: uppercase;
}

.banner-left-2-phone {
    width: 150px;
    font-size: 19px;
    padding: 10px 10px 0px;
    font-weight: 900;
    text-transform: uppercase;
}

.banner-left-2-text {
    width: 150px;
    font-size: 13px;
    padding: 10px 10px 0;
    font-weight: 400;
    line-height: 1.5;
}

#banner {
    margin-left: 30px;
    width: 970px;
    height: 477px;
    background-color: rgb(187, 247, 227);
    position: relative;
}

    #banner .banner-text-container {
        position: absolute;
        width: 970px;
        height: 135px;
        background-color: rgba(0, 0, 0, 0.7);
        top: 342px;
        /* justify-self: end; */
    }

    #banner .banner-text {
        padding: 15px 28px 28px;
    }

    #banner .banner-text-container .banner-text a {
        text-decoration: none;
        color: #e2232e;
        font-size: 37px;
        /* white-space: nowrap; */
        /* overflow:; */
        /* display: inline-block; */
    }

.banner-text .banner-text-heading {
    color: black;
    /* white-space: nowrap; */
}


/* #banner .cost{
	color: #e2232e;
	font-size: 37px;
	
	width: 160px;
	height: 45px;
} */

#banner .name {
    position: absolute;
    color: white;
    /* font-size: 37px; */
    /* white-space: nowrap; */
    top: 15px;
    left: 220px;
}

    #banner .name:hover {
        color: #e2232e;
        cursor: pointer;
    }

#banner .banner-text-content {
    width: 915px;
    height: 45px;
    font-size: 13px;
    line-height: 1.5;
    color: #888888;
    margin: 3px 0 0;
}

section {
    margin-top: 20px;
    width: 970px;
}

.tab {
    font-size: 0;
    line-height: 0;
    word-spacing: 0;
    border: 0;
    margin-bottom: -10px;
    margin-left: -10px;
}

    .tab button {
        height: 55px;
        width: 483px;
        position: relative;
        font-weight: 900;
        font-size: 16px;
        border: 1px solid #c8c8c8;
        margin: 0;
        border-radius: 0;
    }

        .tab button:hover {
            color: #e2232e;
            cursor: pointer;
        }

    .tab .tablinks .active {
        background-color: white;
        color: #e2232e;
        border-color: #dee2e6 #dee2e6 #fff;
    }

.tabcontent {
    animation: fadeEffect 1s;
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.car {
    width: 310px;
    height: 250px;
    margin-top: 30px;
    text-align: left;
    float: left;
    margin-bottom: 30px;
    margin-left: 10px;
    /* margin-right: 00px; */
}

.car-img {
    width: 300px;
    height: 200px;
    transition: all 0.5s ease;
}

.name-car a {
    font-size: 16px;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
}

.see-all-cars {
    width: 790px;
    display: flex;
    align-items: flex-end;
}

.btn-see-all-cars {
    background-color: #e2232e;
    border: none;
    outline: none !important;
    /* padding: 10px 20px 10px; */
    width: 150px;
    height: 55px;
    margin-top: 20px;
    margin-left: 10px;
}

    .btn-see-all-cars:hover {
        background-color: black;
        cursor: pointer;
    }

    .btn-see-all-cars a {
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 600;
    }

/* 
.car-img:hover{
	transform:scale(1.1);
} */

.price {
    margin-top: 10px;
}

.price-span {
    color: #e2232e;
    font-weight: bold;
    font-size: 18px;
    font-weight: 600;
}

.car-description {
    font-size: 13px;
    color: #888888;
}

.footer-left {
    margin-left: 160px;
    margin-top: 20px;
}

    .footer-left p {
        margin-top: 20px;
        color: #888888;
        font-size: 14px;
    }

.footer-right {
    float: right;
    margin-top: -90px;
    margin-right: 150px;
}

    .footer-right ul {
        list-style: none;
    }

        .footer-right ul li {
            float: left;
        }

            .footer-right ul li a {
                display: block;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                color: black;
                font-size: 14px;
                font-weight: 600;
            }

    .footer-right a:hover, .footer-right .active-footer {
        color: #e2232e;
        cursor: pointer;
    }

.footer-icon {
    float: right;
    margin-top: -60px;
    margin-right: 150px;
}

    .footer-icon ul {
        list-style: none;
    }

        .footer-icon ul li {
            float: left;
        }

            .footer-icon ul li a {
                display: block;
                padding: 14px 16px;
                text-decoration: none;
                font-size: 40px;
                color: black;
            }

                .footer-icon ul li a:hover {
                    color: #e2232e;
                    cursor: pointer;
                }


/* .footer-icon i .fab{
    width: 60px;
} */

footer {
    background-color: #f3f3f3;
    height: 178px;
    padding-top: 10px;
}


    footer > p {
        text-align: center;
        font-size: 17px;
        margin-top: 5px;
    }

.icon:hover {
    color: white;
}
